@model AgileProject.Models.PostStatusModel
@{
    ViewBag.Title = "Home Page";
}


@*<div class="col-md-12 col-lg-12" style="margin-top:15px;">
	<span class="columnTitle">Name</span>
	<span>Status</span>
	<span>Back in</span>
</div>*@

    @if (ViewBag.LoggedInUser != null)
    {
        <div class="row userInfo">
            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 v-align image">
                <img src="http://blogdailyherald.com/wp-content/uploads/2014/10/wallpaper-for-facebook-profile-photo.jpg" class="img-responsive img-rounded listImage" />
            </div>
            <div class="col-xs-6 col-sm-7 col-md-8 col-lg-10 v-align">
                <h11>@ViewBag.teacher.FirstName @ViewBag.teacher.LastName</h11>
                @*<div class="btn-group ddStatus">
                    <a class="btn btn-primary btn-status dropdown-toggle" data-toggle="dropdown" href="#">Change status <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="select">
                        <li><a href="#">Available</a></li>
                        <li><a href="#">Busy</a></li>
                        <li><a href="#">Busy (Students)</a></li>
                        <li><a href="#">Away</a></li>
                    </ul>
                </div>*@

                @using (Html.BeginForm("ChangeStatus", "Home", FormMethod.Post))
                {
                @Html.AntiForgeryToken()


                <div class="form-group">
                    <div class="col-md-10">
                        <div class="">
                            @Html.DropDownListFor(model => model.statusId, Model.getStatus, new { onchange = "this.form.submit();" })
                        </div>
                    </div>
                </div>
                
                }



                <br>
                <input type="text" id="min-date" class="inputTime" placeholder="2016/04/05 13:00" />
            </div>
        </div>

    }



    @foreach (AgileProject.Models.Teacher teacher in ViewBag.teacherList)
    {
        <div class="row listItem busy-border">
            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 v-align image">
                <img src="http://blogdailyherald.com/wp-content/uploads/2014/10/wallpaper-for-facebook-profile-photo.jpg" class="img-responsive img-rounded listImage" />
            </div>
            <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9 v-align textinfo">
                <h11>@teacher.FirstName @teacher.LastName</h11>
                <h12>Busy</h12>
                <h12><b>2016/04/22 13:00</b></h12>
            </div>
            <div class="calldiv" style="height:100%;">
                <button type="button" class="btn btn-primary disabled v-align">Call</button>
            </div>
        </div>
    }
   
<script>

    $(document).ready(function () {

        $(".dropdown-menu li a").click(function () {
            var selText = $(this).text();
            $(this).parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
            console.log(selText);
;            if (selText == 'Available') {
                $('.btn-status').css('background-color', 'rgba(81,202,66,1)');
                $('.btn-status').css('border-color', 'rgb(53, 189, 80)');
            }
            else if (selText == 'Busy') {
                $('.btn-status').css('background-color', 'rgb(189, 53, 53)');
                $('.btn-status').css('border-color', 'rgb(202, 66, 66)');
            }
            else if (selText == 'Busy (Students)') {
                $('.btn-status').css('background-color', 'rgb(202, 116, 66)');
                $('.btn-status').css('border-color', 'rgb(189, 100, 53)');
            }
            else if (selText == 'Away') {
               
                $('.btn-status').css('background-color', 'rgb(202, 201, 66)');
                $('.btn-status').css('border-color', 'rgb(202, 170, 66)');
            }
        });
    });

</script>

