@model AgileProject.Models.PostStatusModel
@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.LoggedInUser != null)
{
    <div class="row userInfo">
        <div class="itemImage status-@Model.statusId" style="background-image: url(@ViewBag.teacher.imageURL); background-repeat: no-repeat;"></div>

        <div class="v-align" style="margin-left:10px; float:left;">
            <h11>@ViewBag.teacher.FirstName @ViewBag.teacher.LastName</h11>

            @using (Html.BeginForm("ChangeStatus", "Home", FormMethod.Post))
                {
                @Html.AntiForgeryToken()

                <div>
                    <div class="col-md-10 nopadding" style="margin:5px 0px;">
                        <div class="">
                            @Html.DropDownListFor(model => model.statusId, Model.getStatus, new { @class = "btn btn-primary btn-status dropdown-toggle setcolours", @onchange = "this.form.submit();" })
                        </div>
                    </div>
                </div>
            }
            @using (Html.BeginForm("ChangeTime", "Home", FormMethod.Post))
                {
                @Html.AntiForgeryToken()


                <div class="form-group">
                    <div class="col-md-10 nopadding">
                        <div class="">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}


   @foreach (AgileProject.Models.Status status in ViewBag.statusList)
   {
    <div class="row listItem">
        <div class="itemImage status-@status.StatusId" style="background-image: url(@status.Teacher.imageURL); background-repeat: no-repeat;"></div>
            <div class="v-align">
                <div class="info1">
                    <h11>@status.Teacher.FirstName @status.Teacher.LastName</h11>
                    <h12>
                        @if (@status.StatusId == 10)
                        {
                            @Html.Raw("Available")
                        }
                        else if (@status.StatusId == 20)
                        {
                            @Html.Raw("Busy")
                        }
                        else if (@status.StatusId == 30)
                        {
                            @Html.Raw("Busy")
                            if (ViewBag.LoggedInUser != null)
                            {
                                @Html.Raw("-Students")

                            }
                        }
                        else if (@status.StatusId == 40)
                        {
                            @Html.Raw("Away")
                        }
                    </h12>

                    @if (status.Date != null)
                    {
                        <h12><b>Back at: @status.Date.Value.ToShortDateString() @status.Date.Value.ToShortTimeString()</b></h12>
                    }
                </div>

                <div class="info2">
                    @if (status.StatusId == 10)
                    {
                        <h12 class="right"><b>@status.Teacher.PadNumber</b></h12>
                    }
                    <h12 class="right">@status.Teacher.Email</h12>
                    <h12 class="right">@status.Teacher.Phone</h12>
                </div>

            </div>
        </div>
   }
       


<script>

    $(document).ready(function () {

        $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });

        var selText = $(".setcolours option:selected").val();

;            if (selText == 10) {
            $('.setcolours').css('background-color', 'rgba(81,202,66,1)');
            $('.setcolours').css('border-color', 'rgb(53, 189, 80)');
        }
        else if (selText == 20 || selText == 30) {
            $('.btn-status').css('background-color', 'rgb(189, 53, 53)');
            $('.btn-status').css('border-color', 'rgb(202, 66, 66)');
            $('.inputTime').css('visibility', 'visible');
        }
        else if (selText == 40) {
               
            $('.btn-status').css('background-color', 'rgb(202, 201, 66)');
            $('.btn-status').css('border-color', 'rgb(202, 170, 66)');
            $('.inputTime').css('visibility', 'visible');
        }
    });

</script>

